{
  "annotations": {
    "list": []
  },
  "editable": true,
  "graphTooltip": 1,
  "id": null,
  "links": [],
  "panels": [],
  "refresh": "30s",
  "schemaVersion": 39,
  "tags": [],
  "templating": {
    "list": []
  },
  "time": {
    "from": "now-6h",
    "to": "now"
  },
  "timepicker": {},
  "timezone": "browser",
  "title": "",
  "uid": "",
  "version": 1
}
