# aurora-password-push-secret.yaml.tmpl
#
# Third stage of the Aurora A1 password chain. ClusterSecretStore already mounts
# `secret`, so remoteKey must remain mount-relative.
#
# Required slots: {{app}}, {{env}}, {{namespace}}, {{cluster_secret_store}}

apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: {{app}}-aurora-password-push
  namespace: {{namespace}}
  annotations:
    argocd.argoproj.io/sync-wave: "-3"
spec:
  refreshInterval: 1m
  updatePolicy: IfNotExists
  secretStoreRefs:
    - name: {{cluster_secret_store}}
      kind: ClusterSecretStore
  selector:
    secret:
      name: {{app}}-aurora-password
  data:
    - match:
        secretKey: password
        remoteRef:
          remoteKey: {{env}}/aurora/application/{{app}}/master-password
          property: password
