# Push Crossplane Redis connection details to the app's Vault path.
#
# Required slots:
#   {{app}}                   kebab-case
#   {{env}}                   dev | staging | pre | prod
#   {{namespace}}             same namespace as the Redis CR
#   {{cluster_secret_store}}  target ClusterSecretStore
#
# The connection Secret must have the normalized address + port contract from
# crossplane-conn-patcher. remoteKey is relative to CSS path=secret.

apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: {{app}}-redis-push
  namespace: {{namespace}}
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  refreshInterval: 1m
  updatePolicy: IfNotExists
  secretStoreRefs:
    - name: {{cluster_secret_store}}
      kind: ClusterSecretStore
  selector:
    secret:
      name: {{app}}-redis-conn
  data:
    - match:
        secretKey: address
        remoteRef:
          remoteKey: {{env}}/redis/application/{{app}}/redis
          property: REDIS_HOST
    - match:
        secretKey: port
        remoteRef:
          remoteKey: {{env}}/redis/application/{{app}}/redis
          property: REDIS_PORT
